#Ejercicio 39:
¬øCu√°l es el contenido al que m√°s se hacen redirecciones? (‚≠ê)

Empiezo importando la librer√≠a pandas, cargando el archivo con el que voy a trabajar y repasar un poco de que se trata, la informaci√≥n de las columnas, la memoria que consume

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/redirect_list.csv', usecols = ['rd_from', 'rd_title'])

In [ ]:
df

          rd_from                                   rd_title
0              54                                    Apiales
1              57                                  Atm√≥sfera
2              58                                    Archaea
3              82                          Agujero_de_gusano
4             108                                      Stipa
...           ...                                        ...
1960397  10010763  Comisi√≥n_Federal_de_Competencia_Econ√≥mica
1960398  10010789         Atentado_de_Kabul_de_junio_de_2021
1960399  10010790         Atentado_de_Kabul_de_junio_de_2021
1960400  10010791                   Sahaliyania_elunchunorum
1960401  10010792                   Sahaliyania_elunchunorum

[1960402 rows x 2 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1960402 entries, 0 to 1960401
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   rd_from   int64
 1   rd_title  object
dtypes: int64(1), object(1)
memory usage: 29.9+ MB

In [ ]:
df.memory_usage()

Index            128
rd_from     15683216
rd_title    15683216
dtype: int64

Veo que columnas contienen NaN y cuantos son por columna para luego eliminarlos

In [ ]:
nan_columns = df.columns[df.isna().any()]
df[nan_columns].isna().sum()

rd_title    2
dtype: int64

In [ ]:
df = df.dropna(subset = ['rd_title'])
df

          rd_from                                   rd_title
0              54                                    Apiales
1              57                                  Atm√≥sfera
2              58                                    Archaea
3              82                          Agujero_de_gusano
4             108                                      Stipa
...           ...                                        ...
1960397  10010763  Comisi√≥n_Federal_de_Competencia_Econ√≥mica
1960398  10010789         Atentado_de_Kabul_de_junio_de_2021
1960399  10010790         Atentado_de_Kabul_de_junio_de_2021
1960400  10010791                   Sahaliyania_elunchunorum
1960401  10010792                   Sahaliyania_elunchunorum

[1960400 rows x 2 columns]

Agrupo por el t√≠tulo asi puedo contar cual es el contenido al que mas redirecciones se realizan

In [ ]:
cant_rd = df.groupby(['rd_title']).agg({"rd_title":["count"]}).reset_index()
cant_rd.columns = cant_rd.columns.droplevel(0)
cant_rd

                            count
0                      !!!      2
1                    !Kung      1
2       !d'O_Magri√ßo_valho      3
3                   !dea4u      1
4         "Love_and_Theft"      2
...                    ...    ...
726316                   ê§í      2
726317                   ê§ì      2
726318                   ê§î      1
726319                   ê§ï      2
726320                   õÄÅ      1

[726321 rows x 2 columns]

In [ ]:
indice_max_rd = cant_rd['count'].idxmax()
cant_rd.loc[indice_max_rd]

         Art√≠culo_futuro
count               1161
Name: 57267, dtype: object