In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_train  = pd.read_csv('/content/drive/MyDrive/TP3-Orga/weakly_train.csv', usecols = ['text', 'target'])
df_test = pd.read_csv('/content/drive/MyDrive/TP3-Orga/labelled_test.csv', usecols = ['text', 'target'])

In [ ]:
df_train

                                                    text  target
0      When white students complain about Affirmative...       1
1      RT @ClaytonCrook: When the univ cancels class ...       1
2      #BlackOnCampus feeling the need to tone down m...       1
3      Are you sure you want to wear your hair that w...       1
4      #BlackOnCampus   Terrorism being called "bully...       1
...                                                  ...     ...
11436  Discrimination in any way, bully, only has pow...       1
11437  .@JeremyPatzer Public broadcaster needs to con...       0
11438  UChicago is full of SHIT. Like, they are alrea...       1
11439  @SunSport @Tyson_Fury   this proves that trave...       1
11440  How the US media determines if someone is ment...       0

[11441 rows x 2 columns]

In [ ]:
df_test

                                                  text  target
0    #BlackOnCampus never being called on in class,...       1
1    First invite 2 the white parties and realize y...       1
2    being labeled as the "token black guy" in arch...       1
3    male teacher comments 'that's quite a hefty bo...       1
4    I only got a scholarship to college because I'...       1
..                                                 ...     ...
595  That angel hearted man who trying to end homel...       0
596  @jagohindustani_ Millions r supporting #Asaram...       0
597  Rookie defender activated tonight's game vs CO...       0
598  Houthis release video Saudi soldier held HOSTA...       0
599       AFGHAN REFUGEES ABUSE 13 YEAR OLD SCHOOLGIRL       0

[600 rows x 2 columns]

In [ ]:
X_train = df_train.drop("target", axis=1)
X_test = df_test.drop("target", axis=1)

y_train = df_train["target"]
y_test = df_test["target"]

In [ ]:
len(X_train), len(y_train), len(X_test), len(y_test)

(11441, 11441, 600, 600)

In [ ]:
X_train

                                                    text
0      When white students complain about Affirmative...
1      RT @ClaytonCrook: When the univ cancels class ...
2      #BlackOnCampus feeling the need to tone down m...
3      Are you sure you want to wear your hair that w...
4      #BlackOnCampus   Terrorism being called "bully...
...                                                  ...
11436  Discrimination in any way, bully, only has pow...
11437  .@JeremyPatzer Public broadcaster needs to con...
11438  UChicago is full of SHIT. Like, they are alrea...
11439  @SunSport @Tyson_Fury   this proves that trave...
11440  How the US media determines if someone is ment...

[11441 rows x 1 columns]

In [ ]:
from nltk import word_tokenize
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
X_train_token = X_train["text"].map(lambda x: word_tokenize(x.lower(), language='english'))

In [ ]:
X_test_token = X_test["text"].map(lambda x: word_tokenize(x.lower(), language = 'english'))

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from nltk.corpus import stopwords

In [ ]:
stopwordsEn = set(stopwords.words('english'))
stopwordsEn

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [ ]:
def remove_stopwords(texto, stopwords):
  return [palabra for palabra in texto if palabra not in stopwords]

In [ ]:
X_train_token = X_train_token.map(lambda x: remove_stopwords(x, stopwordsEn))
X_test_token = X_test_token.map(lambda x: remove_stopwords(x, stopwordsEn))

In [ ]:
X_train_token =  X_train_token.map(lambda x: ' '.join(x))
X_test_token =  X_test_token.map(lambda x: ' '.join(x))

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
TfIdf = TfidfVectorizer()

In [ ]:
X_train_vec = TfIdf.fit_transform(X_train_token)
X_test_vec = TfIdf.transform(X_test_token)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
rf = RandomForestClassifier(random_state=10, max_depth=None, n_estimators=60, min_samples_split=2, min_samples_leaf=1)
rf.fit(X_train_vec, y_train)
roc_auc_score(y_test, rf.predict_proba(X_test_vec)[:, 1])

0.9430722222222222

In [ ]:
rf = RandomForestClassifier(random_state=10, max_depth=None, n_estimators=80, min_samples_split=2, min_samples_leaf=1)
rf.fit(X_train_vec, y_train)
roc_auc_score(y_test, rf.predict_proba(X_test_vec)[:, 1])

0.9437333333333333

In [ ]:
rf = RandomForestClassifier(random_state=10, max_depth=None, n_estimators=120, min_samples_split=2, min_samples_leaf=1)
rf.fit(X_train_vec, y_train)
roc_auc_score(y_test, rf.predict_proba(X_test_vec)[:, 1])

0.9410499999999999

In [ ]:
rf = RandomForestClassifier(random_state=10, max_depth=15, n_estimators=100, min_samples_split=2, min_samples_leaf=1)
rf.fit(X_train_vec, y_train)
roc_auc_score(y_test, rf.predict_proba(X_test_vec)[:, 1])

0.9184333333333334

In [ ]:
rf = RandomForestClassifier(random_state=10, max_depth=None, n_estimators=100, min_samples_split=4, min_samples_leaf=1)
rf.fit(X_train_vec, y_train)
roc_auc_score(y_test, rf.predict_proba(X_test_vec)[:, 1])

0.9453055555555554

In [ ]:
frases = ["i love cars", "that player is too bad", "he is ugly", "man", "women", "today it is a sunny day", "this car is shit", "love love love", "That angel hearted man who trying to end homelessness with this hotel put me in good mood"]

In [ ]:
frases_vec = TfIdf.transform(frases)

In [ ]:
rf.predict_proba(frases_vec)[:,1]

array([0.76694444, 0.83341667, 0.80683333, 0.91116667, 0.95383333,
       0.8982381 , 0.85283333, 0.76694444, 0.72709524])

In [ ]:
rf.predict(frases_vec)

array([1, 1, 1, 1, 1, 1, 1, 1, 1])